* {
  background-color: white;
  font-family: monospace;
}

body {
  display: inline-block;
}

p {
  margin: 10px;
}

h1 {
  margin: 10px;
}

.container {
  display: inline-block;
 }

#canvas {
  margin: 10px;
}
