#canvas {
  width: 100%;
  height: 89%;
  border: 2px solid black;
 }
 
 #footer {
   width: 100%;
   height: 10%;
   background-color: black;
   border: 2px solid black;
 }

 #jump {
  width: 5%;
  height: 30px;
 }
 