h1 {
  color: white;
  background-color: black;
}

#canvas-container {
  display: inline-block;
  border: 2px solid black;
 }

#canvas-header {
  padding: 10px;
  height: 10%;
  background-color: black;
}

#canvas-footer {
  height: 10%;
  background-color: black;
}